.form-tab{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 600px;
    height: 100%;
    margin-top: 100px;
    margin-left: 400px;
    margin-bottom: 1000px;
    border: 3px solid #43a724;
    border-radius: 20px  !important;
  }
  .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .inputField{
    width: 250px;
    height: 30px;
    color: black;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 5px  !important;
  }
  .input-heading{
    font-size: 18px;
  }
  .submit-btn{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #43a724;
    border: 3px solid#34771f;
    border-radius: 20px  !important;
    color: white ;
    width: 150px;
    height: 40px; 
    font-size:16px;
    font-weight: 500;
  
  }
  .title-heading{
    font-size: 24px;
    font-weight: 700;
    color: #43a724;
  }